@font-face {
    font-family: "Grandstander";
    src: url(/public/Grandstander-VariableFont_wght.ttf);
}
a,h1, h2, h3, h4, h5, h6, p, li {
    font-family: "GrandstanderOpenSans";
}
.age{
    height: 70%;
}
.text {
    color: black;
    font-size: 17px;
    text-decoration: none;
}
.text:hover {
    color: red;
}
.tagline {
    font-weight: 500;
    font-size: 16px;
}
.map {
    width: 750px;
    height: 500px;
}
.photo {
    width: 200px;
    height: 200px;
}
.cards {
    width: 500px;
    background-color: rgba(255, 0, 0, 0.653);
}
.cardsT {
    text-decoration: none;
    color: black;
}
.cardsT:hover {
    color: rgb(255, 0, 0);
}
.more {
    color: rgb(138, 25, 25);
}
.more:hover {
    color: black;
}
.information {
    color: black;
    font-size: 20px;
}